<div data-role="header" data-theme="c" data-position="inline">
    <h1>重庆时时彩</h1>
    <div data-role="content" class="header-background">
        <img src="~/images/icon/sj1.png" alt="sj1" />
        <span class="font-info">第160919059期开奖</span>
        <div style="margin-top: 10px">
            <span class="number-circle number-circle-normal">2</span>
            <span class="number-circle number-circle-normal">3</span>
            <span class="number-circle number-circle-normal">12</span>
            <span class="number-circle number-circle-normal">4</span>
            <span class="number-circle number-circle-normal">5</span>
            <span class="number-circle number-circle-normal">13</span>
        </div>
        <div class="countdown-content">
            <img class="countdown-img fl" src="~/images/icon/sj2.png" alt="sj2" />
            <span class="font-info countdown-title fl">第160919060期开奖倒计时</span>
            <div class="countdown-number-content">
                <div class="countdown-number fl">0</div>
                <div class="countdown-number fl">1</div>
                <div class="fl">:</div>
                <div class="countdown-number fl">2</div>
                <div class="countdown-number fl">3</div>

            </div>
            <div class="clearfix"></div>
        </div>


    </div>

</div>
