<div data-role="header" data-theme="c" data-position="inline">
    <a id="back" href="#" data-icon="back" data-theme="c">返回</a>
    <h1>@ViewBag.HeadTitle</h1>
</div>
<script>
    $(function() {
        $('#back').on('click', function () {
            // debugger;
            location.href = abp.appPath + "app/ssc/index/" + $('#PlanId').val();
        });
    });
</script>