@using Jueci.MobileWeb.Web.Models.Common
@{
    string cpType = ViewBag.CpType;
}

<div data-role="header" data-theme="c" data-position="inline">
    @*<h1>重庆时时彩计划分享</h1>*@
    <h1><a href=@ViewBag.OfficialWebsite style="color: #FFFFFF; text-decoration: none; font-size: 14px;">掌赢专家 - @Html.Raw(ViewBag.PlanTitle)</a></h1>
    @Html.Action("Clock",cpType,new { ClockPage = ClockPage.HomePage })
</div>
