@using Jueci.MobileWeb.Web.Models.Common
<div data-role="header" data-theme="c" data-position="inline">
    <h1>重庆时时彩计划分享</h1>
    @Html.Action("Clock","Ssc",new { ClockPage = ClockPage.HomePage })
    
</div>
