@using Jueci.MobileWeb.Web.Models.Common
<div data-role="header" data-theme="c" data-position="inline">
    @*<h1>重庆时时彩计划分享</h1>*@
    <h1><a href=@ViewBag.OfficialWebsite style="color: #FFFFFF; text-decoration: none; font-size: 14px;">彩盟网 - 重庆时时彩</a></h1>
    @Html.Action("Clock","Ssc",new { ClockPage = ClockPage.HomePage })
    
</div>
