
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

img {
    border: none;
}

.number-circle {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

    .number-circle:before,
    .number-circle:after {
        content: '\200B';
        display: inline-block;
        line-height: 0px;
        padding-top: 50%;
        padding-bottom: 50%;
    }

    .number-circle:before {
        padding-left: 1px;
    }

    .number-circle:after {
        padding-right: 1px;
    }

.number-circle-normal {
    border: 1px solid;
    width: 25px;
    height: 25px;
    font-size: 15px;
}

.number-circle-small {
    border: 1px solid #D7353C;
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: #D7353C;
}


.number-circle-blue-small {
    border: 1px solid #3D96EA;
    width: 15px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    font-weight: normal !important;
    color: #3D96EA;
}

 .number-circle-more {
     border: 1px solid;
     width: 20px;
     height: 20px;
     font-size: 9px;
 }

 .lottery-result-less {
     margin: 0 5px;    
 }

 .lottery-result-more {
     margin: 0 3px;
     /*padding: 3px 1px;*/    
 }

.clock-img-container {
    margin-top: 2px;
}

.clock-section-3 {
    width: 14px;
    height: 14px;
    /*margin-top: 2px;*/
}



.number-container {
    /*margin-right: 80px;*/
}

.lv-item-ds {
    color: #D7353C;
    font-size: 12px;
    font-weight: normal;
}

.ui-content-trans {
    background: transparent !important;
    font-weight: normal !important;
    border-color: #EFEFEF;
}

.ui-content-gray {
    background: #FAFAFA !important;
}

.ui-listview > li > a.ui-btn {
    border-color: #EFEFEF;
    border-width: 1px 0 0;
    border-style: solid;
}

.ui-content li a {
    padding-right: 2px;
}

/*移动端字体*/
.font-face {
    font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
    color: #878787;
}

.font-emphasize {
    color: #D63138;
}

.font-right {
    color: #39CC4A;
}

.font-blue {
    color: #3D96EA;
}

/*header color*/
.header-background {
    background: #D63138;
    padding-bottom: 0;
}

/*tips info*/
.font-info {
    color: #F7D90F;
    font-size: 14px;
    font-weight: normal;
}


.content-body {
    padding: 0 0;
}

.listview-content {
    margin-top: 0 !important;
}

.lv-item-jhfa {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    height: 14px;
}

.lv-item-title {
    float: left;
    font-size: 12px;
    font-weight: 800;
    line-height: 14px;
    padding-top: 3.5px;
    color: #878787;
}

.lv-item-progress-box {
    float: right;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
}

    .lv-item-progress-box span div {
        margin: 0 -1px;
    }

.lv-item-progress-v {
    font-size: 10px;
    font-weight: normal;
    padding-left: 2px;
    width: 32px !important;
    vertical-align: middle;
    display: inline-block;
    /*color: #878787;*/
    text-align: center;
}



.lv-item-q {
    font-size: 12px;
    font-weight: normal;
    color: #878787;
}


.progress-block-green {
    height: 5px;
    width: 5px;
    background-color: #39CC4A;
    display: inline-block;
    vertical-align: middle;
}

.progress-block-red {
    height: 5px;
    width: 5px;
    background-color: #D63138;
    display: inline-block;
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    clear: both;
}

/*countdown  倒计时*/
.countdown-title {
    margin-right: 14px;
}

.countdown-img {
    /*margin-top: 4px;*/
    margin-right: 4px;
    height: 14px;
    width: 15px;
}

.countdown-content {
    margin: 20px 15px 15px 0;
}
/*.countdown-number {
    padding-left: 2px;
}*/

.countdown-number-content {
    font-size: 16px;
    font-weight: 800;
}

.clock-hide {
    display: none;
}

.clock-space {
    color: #F7D90F;
    padding: 0 1.5px;
}

.countdown-number {
    width: 12px;
    height: 20px;
    background: #F7D90F;
    color: #D63138;
    margin: -1px 1px 0 1px;
    text-align: center;
    padding-top: 1px;
    -moz-border-radius: 2px; /* Gecko browsers */
    -webkit-border-radius: 2px; /* Webkit browsers */
    border-radius: 2px; /* W3C syntax */
    /*display: inline-block;*/
}

.ui-btn:hover {
    border-color: #EFEFEF !important;
}

.stress-dot {
    color: #D63138;
    /*font-weight:800;*/
    display: inline-block;
    /*line-height: 18px;*/
    font-size: 11px;
    margin-right: -4px;
    padding-bottom: 4px;
    vertical-align: middle;
}

.ui-btn-table {
    background: #ffffff !important;
    font-weight: normal !important;
    border: none !important;
}

.ui-btn.ui-btn-active {
    border: none !important;
    border-bottom: 1px solid #D63138 !important;
    color: #D63138 !important;
    text-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.ui-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tab-container {
    font-size: 13px;
}

.tab-section1 {
    padding: 6px 0;
    /*border-bottom: 1px solid #d3d3d3;*/
    /*border-top: 1px solid #EFEFEF;*/
    /*margin-bottom: 5px;*/
    color: #878787;
}

.tab-section1-first {
    margin: 3px 0;
}

    .tab-section1-first > span {
        margin-left: 3px;
        line-height: 16px;
        display: inline-block;
    }

.tab-section1-second {
    margin: 4px 0 4px 2px;
    padding-top: 5px;
}

    .tab-section1-second span {
        margin: 0 2px;
        padding: 0 2px;
    }

.tab-section1-three {
    margin-bottom: -5px;
    /*padding-bottom: -5px;*/
    /*display: inline-block;*/
    height: 25px;
    /*line-height: 25px;*/
}

    .tab-section1-three span {
        /*margin: 0px 0 -2px 4px;*/
        margin: 0 3.5px;
        display: inline-block;
        vertical-align: middle;
    }

.tab-section2 {
    background: #FFFADC;
    padding: 0 2px;
    /*border-bottom: 1px solid #d3d3d3;*/
    border-top: 1px solid #EFEFEF;
    color: #878787;
}

.ui-li-static {
    border-color: #EFEFEF !important;
    /*padding-left: 3px;*/
}

.tab-section2-line {
    padding: 3px 1px;
}

.tab-section2-sect {
    margin: 2px 1px;
    padding: 3px 0 3px 1.0px;
    width: 84px;
}

    .tab-section2-sect span {
        padding-left: 1px;
        font-size: 11px;
    }

.tab-section-space {
    height: 10px;
    background-color: #FAFAFA;
    /*border-bottom: 1px solid  #EFEFEF !important;*/
    border-top: 1px solid #EFEFEF !important;
}

.tab-section3 {
    /*padding: 6px 0;*/
    border-bottom: 1px solid #EFEFEF !important;
    /*border-top: 1px solid #EFEFEF !important;*/
    /*color: #878787;*/
}

.tab-lv {
    margin-top: 0 !important;
}

.tab-lv-item-first {
    font-size: 14px;
    font-weight: 400;
    color: #878787;
    padding-left: 2px;
}

.tab-lv-item-second {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #878787;
}

    .tab-lv-item-second span {
        margin: 0 1.5px;
    }

.tab-scroll {
    overflow-x: auto;
    height: .6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

    .tab-scroll .list {
        height: .44rem;
        display: -webkit-box;
        display: box;
    }

ol, ul, li {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}

    li.ui-state-active {
        border-bottom: 1px solid #D63138 !important;
        /*background-color: blue !important;*/
    }

        li.ui-state-active a {
            padding-bottom: 2px;
        }

.ui-bar-c {
    border-color: #D63138 !important;
}

@media all and (min-width: 1000px) {
 #wrap {
        width: 800px;
        /*min-height: 800px;*/
        margin: 0 auto;
        border-right: 1px solid #DDDDDD !important;
        border-left: 1px solid #DDDDDD !important;
        border-bottom: 1px solid #DDDDDD !important;
    }
.ui-tabs {
    padding: 0;
}
.ui-content {
        overflow: scroll;
        overflow-y: hidden;
        overflow-x: hidden;
    }

 .ui-page {
        background-color: #f6f6f6 !important;
    }
 .lv-item-title {
     color: #3C3C3C;
 }
 .lv-item-q {
     color: #3C3C3C;
 }

 .tab-section1,.tab-section2,.tab-section3,.tab-lv-item-fi,.tab-lv-item-first,.tab-lv-item-second {
     color: #3C3C3C;
     font-weight: normal;
 }

 .lv-item-progress-box {
     margin-right: 13px;    
 }

 .tab-section1,.tab-section2,.tab-section3 {
     padding-left: 10px;
     padding-right: 10px; 
 }

 .tab-section3 {
     padding-bottom: 12px;
 }

 .tab-section1-three {
     margin-right: 1px;
 }
 .number-circle-normal {
     border: 2px solid;
 }


.number-circle-more {
        border: 2px solid;
        width: 25px;
        height: 25px;
        font-size: 15px;
}

 .tab-lv-item-first span{
      margin: 0 2px;
      padding: 0 2px;
 }
 .tab-section1-first {
     padding-right: 4px;
 }
 .tab-section2-sect {
     width: 90px;
 }
 .listview-content {
     margin-bottom: 0 !important;
 }
}


