@{
    ViewBag.Title = "分享";
    ViewBag.IsHomePage = true;
}

<ul data-role="listview" data-inset="true" class="listview-content" data-divider-theme="a">

    <li data-icon="false">
        <a class="ui-content-trans" href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa"/>
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top:6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha"/></span>
                <span class="lv-item-q">1 2 4 7</span>
            </div>
        </a>
    </li>
    <li data-icon="false">
        <a href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa"/>
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top: 6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha" /></span>
                <span class="lv-item-q">1 2 4 7</span>
            </div>
        </a>
    </li>
    <li data-icon="false">
        <a class="ui-content-trans" href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa"/>
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top: 6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha" /></span>
                <span class="lv-item-q">1 2 4 7</span>
            </div>
        </a>
    </li>
    <li data-icon="false">
        <a href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa"/>
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top: 6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha" /></span>
                <span style="font-weight: normal; font-family: Times New Roman; font-size: 14px; margin-left: 2px">1 2 4 7</span>
            </div>
        </a>
    </li>
    <li data-icon="false">
        <a class="ui-content-trans" href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa"/>
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top: 6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha" /></span>
                <span class="lv-item-q">1 2 4 7</span>
            </div>
        </a>
    </li>
    <li data-icon="false">
        <a href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa"/>
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top: 6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha" /></span>
                <span class="lv-item-q">1 2 4 7</span>
            </div>
        </a>
    </li>
    <li data-icon="false">
        <a class="ui-content-trans" href="">
            <div>
                <img src="~/images/icon/jhfa.png" class="lv-item-jhfa" alt="jhfa" />
                <span class="lv-item-title">万位</span>
                <span class="lv-item-progress-box">
                    <span>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-green"></div>
                        <div class="progress-block-red"></div>
                        <div class="progress-block-green"></div>

                    </span>
                    <span class="lv-item-progress-v">90%</span>
                </span>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top:6px">
                <span class="lv-item-q">083-085期</span>
                <span class="number-circle number-circle-blue-small">1</span>
                <span class="lv-item-ds"><img src="~/images/icon/ding.png" alt="dingorsha" /></span>
                <span class="lv-item-q">1 2 4 7</span>
            </div>
        </a>
    </li>
</ul>
