@{
    ViewBag.HeadTitle = "计划详情";
    ViewBag.Title = "计划详情";
}
<div data-role="tabs" data-fullscreen="true">
    <div data-role="navbar" data-theme="a">
        <ul>
            <li><a class="ui-btn-table ui-btn-active font-f" href="#one" data-ajax="false">万位定码</a></li>
            <li><a class="ui-btn-table" href="#two" data-ajax="false">千位位定码</a></li>
            <li><a class="ui-btn-table" href="ajax-content.html" data-ajax="false">百位定码</a></li>
        </ul>
    </div>

    <div id="one" class="ui-body-a ui-content tab-container" style="background: #ffffff; padding: 0 0;">
        <div class="tab-section1">
            <div class="tab-section1-first">
                <span>第1609200063期开奖</span>
                <div class="fr number-container">
                    <span class="number-circle number-circle-small">2</span>
                    <span class="number-circle number-circle-small">3</span>
                    <span class="number-circle number-circle-small">12</span>
                    <span class="number-circle number-circle-small">4</span>
                    <span class="number-circle number-circle-small">5</span>
                    <span class="number-circle number-circle-small">13</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab-section1-second" >
                <span>083-085期</span>
                <span class="font-emphasize">预</span>
                <span class="font-emphasize">1 2 4 5</span>
            </div>
            <div class="tab-section1-three fr">
                <span class="number-circle number-circle-blue-small">1</span>
                <span>083期</span>
                <span><img width="14" height="14" src="~/images/icon/sj2@2x.png" alt="sj2" /></span>
                <span>
                    <div class="countdown-number-content fr">
                        <div class="countdown-number  fl">0</div>
                        <div class="countdown-number  fl">1</div>
                        <div class="fl">:</div>
                        <div class="countdown-number  fl">2</div>
                        <div class="countdown-number  fl">3</div>

                    </div>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab-section2">
            <div class="tab-section2-line">
                <div class="fl"><span>准确率</span><span class="font-emphasize">90%</span></div>
                <div class="fl"><span>最大连对</span><span class="font-emphasize">6</span></div>
                <div class="fl"><span>最大连错</span><span class="font-emphasize">1</span></div>
                <div class="fl"><span>当前最大连对/错</span><span class="font-emphasize">6</span></div>
                <div class="clearfix"></div>
            </div>

            <div class="tab-section2-line">
                <div class="fl"><span>第一期中</span><span class="font-emphasize">6次</span></div>
                <div class="fl"><span>第二期中</span><span class="font-emphasize">6次</span></div>
                <div class="fl"><span>第三期中</span><span class="font-emphasize">1次</span></div>
                
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="tab-section3">
            <ul data-role="listview" class="tab-lv" data-divider-theme="a">
                <li data-icon="false">
                    <a class="ui-content-trans" href="">
                        <div class="tab-lv-item-first">
                            <span>083-085期</span>
                            <span class="font-emphasize">预</span>
                            <span>1 2 4 5</span>
                        </div>
                        <div class="tab-lv-item-second fr">
                            <span class="number-circle number-circle-blue-small">1</span>
                            <span>083期</span>
                            <span class="font-blue">开</span>
                            <span class="font-blue">
                                3 3 4 5 4
                            </span>
                            <span class="font-right">
                                对                           
                            </span>
                        </div>
                    </a>
                </li>

                <li data-icon="false">
                    <a class="ui-content-trans" href="">
                        <div class="tab-lv-item-first">
                            <span>083-085期</span>
                            <span class="font-emphasize">预</span>
                            <span>1 2 4 5</span>
                        </div>
                        <div class="tab-lv-item-second fr">
                            <span class="number-circle number-circle-blue-small">1</span>
                            <span>083期</span>
                            <span class="font-blue">开</span>
                            <span class="font-blue">
                                3 3 4 5 4
                            </span>
                            <span class="font-right">
                                对
                            </span>
                        </div>
                    </a>
                </li>

                <li data-icon="false">
                    <a class="ui-content-trans" href="">
                        <div class="tab-lv-item-first">
                            <span>083-085期</span>
                            <span class="font-emphasize">预</span>
                            <span>1 2 4 5</span>
                        </div>
                        <div class="tab-lv-item-second fr">
                            <span class="number-circle number-circle-blue-small">1</span>
                            <span>083期</span>
                            <span class="font-blue">开</span>
                            <span class="font-blue">
                                3 3 4 5 4
                            </span>
                            <span class="font-right">
                                对
                            </span>
                        </div>
                    </a>
                </li>

                <li data-icon="false">
                    <a class="ui-content-trans" href="">
                        <div class="tab-lv-item-first">
                            <span>083-085期</span>
                            <span class="font-emphasize">预</span>
                            <span>1 2 4 5</span>
                        </div>
                        <div class="tab-lv-item-second fr">
                            <span class="number-circle number-circle-blue-small">1</span>
                            <span>083期</span>
                            <span class="font-blue">开</span>
                            <span class="font-blue">
                                3 3 4 5 4
                            </span>
                            <span class="font-right">
                                对
                            </span>
                        </div>
                    </a>
                </li>

                <li data-icon="false">
                    <a class="ui-content-trans" href="">
                        <div class="tab-lv-item-first">
                            <span>083-085期</span>
                            <span class="font-emphasize">预</span>
                            <span>1 2 4 5</span>
                        </div>
                        <div class="tab-lv-item-second fr">
                            <span class="number-circle number-circle-blue-small">1</span>
                            <span>083期</span>
                            <span class="font-blue">开</span>
                            <span class="font-blue">
                                3 3 4 5 4
                            </span>
                            <span class="font-right">
                                对
                            </span>
                        </div>
                    </a>
                </li>

                <li data-icon="false">
                    <a class="ui-content-trans" href="">
                        <div class="tab-lv-item-first">
                            <span>083-085期</span>
                            <span class="font-emphasize">预</span>
                            <span>1 2 4 5</span>
                        </div>
                        <div class="tab-lv-item-second fr">
                            <span class="number-circle number-circle-blue-small">1</span>
                            <span>083期</span>
                            <span class="font-blue">开</span>
                            <span class="font-blue">
                                3 3 4 5 4
                            </span>
                            <span class="font-right">
                                对
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="two">

    </div>

</div>