@{
    ViewBag.HeadTitle = "计划详情";
    ViewBag.Title = "计划详情";
}
@model IList<Jueci.MobileWeb.Lottery.Models.Transfer.UserPlanDetail>

@section styles{
    <link href="~/Content/ssc/slide-tabs.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/jueci/slide-tabs.js" type="text/javascript"></script>
}

<div data-role="tabs" data-fullscreen="true">
    <div class="find_nav">
        <div class="find_nav_left">
            <div @*data-role="navbar"data-theme="a"*@ class="find_nav_list">
                <ul>
                    @Html.Partial("_UserPlanDetailTabs", Model)
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_UserPlanDetailContent", Model)
</div>

<script type="text/javascript">
    $(function() {
        $(".tab-container").on("swipeleft", function () {
            var currentTabIndex = $(".ui-state-default[aria-selected=true]").data('tabindex');
            var nextTabIndex = currentTabIndex + 1;
           
            if (currentTabIndex === $('.ui-state-default').length) {
                return;
            }
            switchPlanDetailTab(currentTabIndex,nextTabIndex);
            
        });

        $(".tab-container").on("swiperight", function () {
            var currentTabIndex = $(".ui-state-default[aria-selected=true]").data('tabindex');

            var nextTabIndex = currentTabIndex - 1;
            if (currentTabIndex === 1) {
                return false;
            }
         
            switchPlanDetailTab(currentTabIndex, nextTabIndex);
        });

        $(".ui-state-default").on('click', function () {

            //var currentTabIndex = $(".ui-state-default[aria-selected=true]").data('tabindex');

            var beferTabIndex = $(".ui-tabs-active[tabindex=-1]").data('tabindex');

            var currentTabIndex = $(this).data('tabindex');

            switchPlanDetailTab(beferTabIndex, currentTabIndex);
        });
    });

    function switchPlanDetailTab(beferTabIndex, currentTabIndex) {

        $('.ui-state-default[data-tabindex=' + beferTabIndex + ']').removeClass("ui-state-hover ui-state-focus ui-tabs-active ui-state-active  find_nav_cur");
        $('.ui-state-default[data-tabindex=' + beferTabIndex + ']').attr('aria-selected', "false");
        $('.ui-state-default[data-tabindex=' + beferTabIndex + '] > a').removeClass("ui-btn-active");
        $('#tab' + beferTabIndex).attr('style', 'background: rgb(255, 255, 255); padding: 0px; display: none;');
        $('#tab' + beferTabIndex).attr('aria-expanded', 'false');
        $('#tab' + beferTabIndex).attr('aria-hidden', 'true');
        //aria-expanded="false" aria-hidden="true"

        $('.ui-state-default[data-tabindex=' + currentTabIndex + ']').addClass("ui-state-hover ui-state-focus ui-tabs-active ui-state-active find_nav_cur");
        $('.ui-state-default[data-tabindex=' + currentTabIndex + ']').attr('aria-selected', "true");
        $('.ui-state-default[data-tabindex=' + currentTabIndex + '] > a').addClass("ui-btn-active");
        $('#tab' + currentTabIndex).attr('style', 'background: #ffffff; padding: 0 0;');
        $('#tab' + currentTabIndex).attr('aria-expanded', 'true');
        $('#tab' + currentTabIndex).attr('aria-hidden', 'false');
    }
</script>